#home {
    background-image: url("https://images.unsplash.com/photo-1517245386807-9b4d0dd9c1c9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmFja2dyb3VuZCUyMGJhY2tncm91bmQlMjB3b3JsZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc( 100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

#home .container>h2 {
    color: #1f1f1f;
}