* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

body {
    font-family: Arial, sans-serif;
}

img {
    border-radius: 5px;
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// nav ul  li a
nav {
    background-color: #000;
    padding: 20px;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            a {
                text-decoration: none;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                display: inline-block;
                &:hover {
                    background-color: #161616;
                }
            }
        }
    }
}


/* Page 1: Home Page Styles */

#home {
    background-color: #fff;
    color: #000;
    padding: 50px;
    height: calc(100vh - 90px); // 90px is the height of the nav
    .page-one-info {
        width: 85%;
        margin-right: 10px;
        h3 {
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p {
            font-size: 20px;
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: #fff;
            background-color: #000;
            padding: 10px 20px;
            border-radius: 5px;
            display: inline-block;
            margin-bottom: 10px;
            &:hover {
                background-color: #161616;
                // color: #000;
            }
        }
    }
    .page-one-img {
        // max-width: 225px;
        max-width: 40%;
        img {
            width: 100%;
        }
    }
}


/* Page 2: Hobbies Page Styles */

#hobbies {
    background-color: #f2f2f2;
    padding: 50px;
    .hobby {
        display: inline-block;
        width: 200px;
        margin: 20px;
        text-align: center;
        img {
            width: 100%;
            height: auto;
            transition: transform .2s linear;
            -webkit-transition: transform .2s linear;
            -moz-transition: transform .2s linear;
            -ms-transition: transform .2s linear;
            -o-transition: transform .2s linear;
            &:hover {
                transform: scale(1.2) translateY(-20px);
                -webkit-transform: scale(1.2) translateY(-20px);
                -moz-transform: scale(1.2) translateY(-20px);
                -ms-transform: scale(1.2) translateY(-20px);
                -o-transform: scale(1.2) translateY(-20px);
            }
        }
        h3 {
            margin: 3px 0;
        }
        p {}
    }
}


/* Page 3: Birthday Page Styles */

#birthday {
    flex-direction: column;
    background-color: #b0aeae;
    // color: #000;
    // padding: 50px;
    // max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    .container {
        height: 310px;
        overflow: hidden;
    }
    h1 {
        margin-bottom: 30px;
    }
    .birthday-image {
        max-width: 250px;
        margin-bottom: 60px;
        img {
            width: 100%;
        }
    }
    #birthday-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        margin: 0;
    }
    .birthday-textarea {
        width: 100%;
        height: 200px;
        // margin-top: 20px;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 5px;
        &:focus {
            border: 1px solid #32beeb;
        }
    }
    .submit-button {
        margin-top: 10px;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    /* CSS for hiding image after 5 seconds */
    .birthday-image {
        animation: hide-image 0s linear 5s forwards;
    }
    @keyframes hide-image {
        to {
            display: none;
        }
    }
}


/* page 4: contact Page Styles */

#contact {
    background-color: #f2f2f2;
    padding: 50px;
    form,
    .box-img {
        margin: 20px 0;
        width: 49%;
    }
    .box-img {
        text-align: center;
    }
    .box-img img {
        width: 330px;
        height: 330px;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        width: calc(100% - 20px);
        outline: none;
        &:focus {
            border: 1px solid #32beeb;
        }
    }
    input[type="submit"] {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }
}


/* Page 5: Slider Page Styles */

#slider {
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #fff;
    color: #000;
    padding: 50px;
    padding: 50px;
    .slider-item {
        display: inline-block;
        width: 200px;
        margin: 20px;
        text-align: center;
        position: relative;
        width: 290px;
        img {
            width: 100%;
            height: 305px;
            height: auto;
            transition: all .2s linear;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -ms-transition: all .2s linear;
            -o-transition: all .2s linear;
            &:hover {
                box-shadow: 2px 0px 4px 0 #6d6565;
                border-radius: 4px;
            }
        }
        h3 {
            // margin: 3px 0;
            text-transform: capitalize;
            position: absolute;
            font-size: 23px;
            left: 50%;
            bottom: 15px;
            color: #fff;
            transform: translate(-50%);
        }
    }
}


/* Page 6: CV Page Styles */

#cv {
    background-color: #161616;
    color: #fff;
    padding: 30px;
    flex-direction: column;
    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
        .col {
            width: 48%;
            padding: 0 20px;
            h2 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }
    h2 {
        margin-top: 0;
    }
    ul {
        padding-left: 5px;
        list-style: none;
    }
    li {
        margin-bottom: 10px;
    }
}